﻿@font-face {
    font-family: cocon;
    src: url('http://localhost:80/theme/font/Droid-Sans-Arabic.ttf');
}


div.mpdf_index_main {
    font-family: 'cocon';
}

div.mpdf_index_entry {
    font-family: 'cocon';
}

div.mpdf_index_letter {
    font-family: 'cocon';
}

body {
    font-family: 'cocon';
   
}

p {
    text-align: justify;
    margin-bottom: 4pt;
    margin-top: 0pt;
}

table {
    line-height: 1.3;
}

thead {
    font-weight: bold;
    vertical-align: bottom;
}

tfoot {
    font-weight: bold;
    vertical-align: top;
}

thead td {
    font-weight: bold;
}

tfoot td {
    font-weight: bold;
}

.footerrow td, .footerrow th {
    background-gradient: linear #b7cebd #f5f8f5 0 1 0 0.2;
}

th {
    font-weight: bold;
    vertical-align: middle;
    padding-left: 2mm;
    padding-right: 2mm;
    padding-top: 0.5mm;
    padding-bottom: 0.5mm;
}

td {
    padding-left: 2mm;
    vertical-align: middle;
    padding-right: 2mm;
    padding-top: 0.5mm;
    padding-bottom: 0.5mm;
}

th p {
    margin: 0pt;
}

td p {
    margin: 0pt;
}

table.widecells td {
    padding-left: 5mm;
    padding-right: 5mm;
}

table.tallcells td {
    padding-top: 3mm;
    padding-bottom: 3mm;
}

hr {
    width: 70%;
    height: 1px;
    text-align: center;
    color: #999999;
    margin-top: 8pt;
    margin-bottom: 8pt;
}


pre {
    font-size: 6.5pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

h1 {
    font-weight: normal;
    font-size: 26pt;
    color: #000066;
    margin-top: 18pt;
    margin-bottom: 6pt;
    border-top: 0.075cm solid #000066;
    border-bottom: 0.075cm solid #000066;
    text-align:;
    page-break-after: avoid;
}

h2 {
    font-weight: bold;
    font-size: 12pt;
    color: #000066;
    margin-top: 6pt;
    margin-bottom: 6pt;
    border-top: 0.07cm solid #000066;
    border-bottom: 0.07cm solid #000066;
    text-align:;
    text-transform: uppercase;
    page-break-after: avoid;
}

h3 {
    font-weight: normal;
    font-size: 26pt;
    color: #000000;
    margin-top: 0pt;
    margin-bottom: 6pt;
    border-top: 0;
    border-bottom: 0;
    text-align:;
    page-break-after: avoid;
}

h4 {
    font-weight:;
    font-size: 13pt;
    color: #bf2c37;
    margin-top: 10pt;
    margin-bottom: 7pt;
    font-variant: small-caps;
    text-align:;
    margin-collapse: collapse;
    page-break-after: avoid;
}

h5 {
    font-weight: bold;
    font-size: 6.5pt;
    color: #bf2c37;
    margin-top: 8pt;
    margin-bottom: 4pt;
    text-align:;
    page-break-after: avoid;
}

h6 {
    font-weight: normal;
    font-size: 6.5pt;
    color: #000;
    margin-top: 5pt;
    margin-bottom:;
    text-align:;
    page-break-after: avoid;
}

.breadcrumb {
    text-align: right;
    font-size: 8pt;
    color: #666666;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 6pt;
}

.bpmTopic tbody tr:nth-child(even) {
    background-color: #f5f8f5;
}

.bpmTopicC tbody tr:nth-child(even) {
    background-color: #f5f8f5;
}

.bpmNoLines tbody tr:nth-child(even) {
    background-color: #f5f8f5;
}

.bpmNoLinesC tbody tr:nth-child(even) {
    background-color: #f5f8f5;
}

.bpmTopnTail tbody tr:nth-child(even) {
    background-color: #f5f8f5;
}

.bpmTopnTailC tbody tr:nth-child(even) {
    background-color: #f5f8f5;
}

.evenrow td, .evenrow th {
    background-color: #f5f8f5;
}

.oddrow td, .oddrow th {
    background-color: #e3ece4;
}

.bpmTopic {
    background-color: #e3ece4;
}

.bpmTopicC {
    background-color: #e3ece4;
}

.bpmNoLines {
    background-color: #e3ece4;
}

.bpmNoLinesC {
    background-color: #e3ece4;
}

.bpmClear {
}

.bpmClearC {
    text-align: center;
}

.bpmTopnTail {
    background-color: #e3ece4;
    topntail: 0.02cm solid #495b4a;
}

.bpmTopnTailC {
    background-color: #e3ece4;
    topntail: 0.02cm solid #495b4a;
}

.bpmTopnTailClear {
    topntail: 0.02cm solid #495b4a;
}

.bpmTopnTailClearC {
    topntail: 0.02cm solid #495b4a;
}

.bpmTopicC td, .bpmTopicC td p {
    text-align: center;
}

.bpmNoLinesC td, .bpmNoLinesC td p {
    text-align: center;
}

.bpmClearC td, .bpmClearC td p {
    text-align: center;
}

.bpmTopnTailC td, .bpmTopnTailC td p {
    text-align: center;
}

.bpmTopnTailClearC td, .bpmTopnTailClearC td p {
    text-align: center;
}

.pmhMiddleCenter {
    text-align: center;
    vertical-align: middle;
}

.pmhMiddleRight {
    text-align: right;
    vertical-align: middle;
}

.pmhBottomCenter {
    text-align: center;
    vertical-align: bottom;
}

.pmhBottomRight {
    text-align: right;
    vertical-align: bottom;
}

.pmhTopCenter {
    text-align: center;
    vertical-align: top;
}

.pmhTopRight {
    text-align: right;
    vertical-align: top;
}

.pmhTopLeft {
    text-align: left;
    vertical-align: top;
}

.pmhBottomLeft {
    text-align: left;
    vertical-align: bottom;
}

.pmhMiddleLeft {
    text-align: left;
    vertical-align: middle;
}

.infobox {
    margin-top: 10pt;
    background-color: #DDDDBB;
    text-align: center;
    border: 1px solid #000066;
}

.bpmTopic td, .bpmTopic th {
    border-top: 1px solid #000066;
}

.bpmTopicC td, .bpmTopicC th {
    border-top: 1px solid #000066;
}

.bpmTopnTail td, .bpmTopnTail th {
    border-top: 1px solid #000066;
}

.bpmTopnTailC td, .bpmTopnTailC th {
    border-top: 1px solid #FFFFFF;
}


.content {
    direction: rtl;
    font-weight: 500;
    font-size: 7pt;
}

table.border {
    width: 100%;
    border: 1px solid #000066;
    margin-bottom: 3px;
}
/***************/
    table.border tr td {
        background: #fff;
        border: 1px solid #000066;
        font-size: 10px;
    }

        table.border tr td.gry {
            background: #e2e7eb;
            border: 1px solid #000066;
        }

table.no_border {
    border: none;
}

    table.no_border tr td {
        border: none;
    }

table tr.ys_title td {
    background: #e4e4e4;
    border: 1px solid #000066;
    color: #ffffff;
}

table tr td.ys_title {
    background: #e4e4e4;
    border: 1px solid #000066;
    color: #ffffff;
}

table tr.ys_title_h td {
    background: #51617a;
    border: 1px solid #99151a;
    color: #FFFFFF;
    text-align: center;
    font-size: 8.5pt;
    padding: 3px 0;
}

table tr td span {
    color: #606060;
}

table.center tr td {
    text-align: center;
}

.ys_pic img {
    padding: 5px;
    border: 1px solid #99151a;
    margin: 0 0 9px 9px;
}

.ys_pic img.left {
        margin-left: 0 !important;
    }

.total_price {
    background-color: #FFF500;
}

.ys_top {
    width: 55px;
    height: 100%;
    padding-top: 15px;
    direction: rtl;
    background: #1D1D1D;
    top: 0;
    position: fixed;
    display: block;
    overflow: auto;
}

.ys_top a {
        color: #FFFFFF;
        line-height: 55px;
        text-align: center;
        display: block;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        width: 55px;
    }

.arial {
    font-family: arial !important;
}

.barcode {
    padding: 1.5mm;
    margin: 0;
    vertical-align: top;
    color: #000000;
}

.ystd {
    padding: 9px;
    background: #707070
}


.center {
    margin: auto;
    width: 60%;
}
