.content { direction:rtl; font-family:17px; }

h4 { font-size:15px !important; font-weight:bold;}

.panel-heading-btn { float:left;}
.panel-heading-btn a { margin:1px;}

select.form-control { float:right; margin-left:15px; }

.form-group { direction:rtl;}

.form-group td { padding-left:15px; }
.form-group td:last-child { padding-left:0; }

.form-group label { float:right;}

.form-horizontal.form-bordered .form-group>.control-label{padding:22px 15px 15px;border-left:0; border-right:0;}

.form-horizontal.form-bordered .form-group>div{border-right:1px solid #eee; border-left:0;}

.ys_borderd { margin:15px 0;}

.ys_borderd td {border:1px solid #eee; padding:5px;}

.ys_label { color:#FFFFFF !important; font-weight:bold; background:#00acac; padding-right:0; border-color:#00acac !important; text-align:center; }
.ys_label2 { color:#FFFFFF !important; font-weight:bold; background:#007777; padding-right:0; border-color:#007777 !important; text-align:center;}
.ys_label3 { color:#FFFFFF !important; font-weight:bold; background:#f2004a; padding-right:0; border-color:#f2004a !important; text-align:center;}

.ys_title td{  color:#242a30;}
.ys_title.black td{ background:#242a30; color:#fff; text-align:center; font-weight:bold; border-color:#0c0e10;}

.ys_add {color:#fff; background:#00acac; padding:3px; position:absolute; margin-right:-17px;}


.upload{
	direction:ltr;
	font-size:11px !important;
    background-color:#373a3d;
	
	width:100%;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.drop{
    background-color: #2E3134;
    padding:25;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:15px;
    font-weight:bold;
    color:#7f858a;
}

.drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:13px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

.drop a:hover{
    background-color:#0986a3;
}

.drop input{
    display:none;
}

.upload ul{
    list-style:none;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

.upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:13px;
	
	margin-left:-40px;
	
	height:75px;

    position: relative;
}

.upload ul li input{
    display: none;
}

.upload ul li p{
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 100px;
}

.upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

.upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

.upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

.upload ul li.working span{
    height: 15px;
    background-position: 0 -12px;
}

.upload ul li.error p{
    color:red;
}

.ys_red { font-weight:bold; color:#f2004a;}
.ys_green { font-weight:bold; color:#00acac;}

.ys_form_save {position:fixed; top:0; z-index:5555; margin:9px 35% 0 0;}

@media (max-width: 767px) {
.ys_form_save {top:56px;}
.ys_file_form .col-md-3 { width: 100%; }
}

@media (max-width: 667px) {
.ys_form_save {margin:9px 31% 0 0;}
.tr_after { display: none;}
}


.ys_pdf_page {
    width: 70%;
    min-height: 240mm;
    padding: 5mm;
    margin: 5mm auto;
    border: 2px #D3D3D3 solid;
    border-radius: 9px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}