﻿@model Astalem.Models.AstalemModel.District

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DistrictName" class="control-label"></label>
                <input asp-for="DistrictName" class="form-control" />
                <span asp-validation-for="DistrictName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lat" class="control-label"></label>
                <input asp-for="Lat" class="form-control" />
                <span asp-validation-for="Lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Log" class="control-label"></label>
                <input asp-for="Log" class="form-control" />
                <span asp-validation-for="Log" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-default" />
            </div>
        </form>
    </div>

    <div class="col-md-3"></div>

</div>

<div>
    <a asp-action="Index">رجوع</a>
</div>

