﻿@model Astalem.Models.AstalemModel.District

@{
    ViewData["Title"] = "Delete";
}

<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">

        <h3>هل انت متاكد من الحذف؟</h3>
        <div>
            <h4>الاحياء</h4>
            <hr />
            <dl class="dl-horizontal">

                <dd>
                    @Html.DisplayFor(model => model.DistrictName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DistrictName)
                </dt>


                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>


                <dd>
                    @Html.DisplayFor(model => model.Lat)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Lat)
                </dt>


                <dd>
                    @Html.DisplayFor(model => model.Log)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Log)
                </dt>
                
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="حذف" class="btn btn-default" /> |
                <a asp-action="Index">رجوع  </a>
            </form>
        </div>

        <div class="col-md-3"></div>
        </div>
        </div>
