﻿@model IEnumerable<Astalem.Models.AstalemModel.District>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">اضافة حي </a>
</p>
<table class="table">
    <thead>
        <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DistrictName)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.City)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Lat)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Log)
                </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Log)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
