﻿@using System.Collections.Generic
@using System.Linq
@using System.Net
@using System.Security.Cryptography.X509Certificates
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model LoginViewModel

@if (SignInManager.IsSignedIn(User))
{
    try
    {
        <div>  @await Html.PartialAsync("~/Views/Home/Index.cshtml") <br /> </div>
    }
    catch
    {
        <div>
            <h3><a asp-action="Index" asp-controller="Home">رجوع للرئيسية</a></h3>
        </div>
    }

}
else
{

    Layout = "_LayoutEmpty";


    @* ViewData["Title"] = "Log in";*@

    <div class="login-container" style="background-image: url('/wwwroot/images/.....jpg'); background-repeat:no-repeat ; background-size:cover">
        <div class="login-branding">
            @*<a asp-controller="Show" asp-action="Index"><img src="~/images/logos.png" alt="Mouldifi" ></a>*@
        </div>
        <div class="login-content" style="background: #78A2CC">
            <h2 style="color: lightcyan ; text-align: center">  تسجيل الدخول</h2>

            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <hr />

                <div class="colorlib-loader">


                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <input asp-for="Email" type="text" placeholder=" البريد الالكتروني" class="form-control" style="text-align: right">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="Password" type="password" placeholder="كلمة المرور" class="form-control" style="text-align: right">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>







                    <div class="form-group">
                        <div @*class="checkbox checkbox-replace" *@>
                            <input asp-for="RememberMe" />
                            <label for="remeber" style="color: lightcyan ">حفظ كلمة المرور</label>
                        </div>
                    </div>




                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">دخول</button>

                    </div>
                    <p class="text-center"><a href="forgot-password.html"></a></p>
                </div>

                @*   <a asp-action="Create2" asp-controller="Almshes">العروض</a>*@



                @*بابل*@

            </form>

        </div>
    </div>
    <!--Load JQuery-->

}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


