﻿@model Astalem.Models.AstalemModel.Proposals

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proposals</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProposalerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProposalerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProposalerPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProposalerPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProposalerTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProposalerTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProposalerContain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProposalerContain)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
