﻿@model IEnumerable<Astalem.Models.AstalemModel.Proposals>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Id)
                </td> 
                <td>
                    @Html.DisplayNameFor(model => model.ProposalerName)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.ProposalerPhone)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.ProposalerTitle)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.ProposalerContain)
                </td>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>   
            
            <td>
                @Html.DisplayFor(modelItem => item.ProposalerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposalerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposalerTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposalerContain)
            </td>

        </tr>
}
    </tbody>
</table>
