﻿@model Astalem.Models.AstalemModel.Order

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateTimeNow" class="control-label"></label>
                <input asp-for="DateTimeNow" class="form-control" />
                <span asp-validation-for="DateTimeNow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLat" class="control-label"></label>
                <input asp-for="UserLat" class="form-control" />
                <span asp-validation-for="UserLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLong" class="control-label"></label>
                <input asp-for="UserLong" class="form-control" />
                <span asp-validation-for="UserLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationDescription" class="control-label"></label>
                <input asp-for="LocationDescription" class="form-control" />
                <span asp-validation-for="LocationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDescription" class="control-label"></label>
                <input asp-for="OrderDescription" class="form-control" />
                <span asp-validation-for="OrderDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderLat" class="control-label"></label>
                <input asp-for="OrderLat" class="form-control" />
                <span asp-validation-for="OrderLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderLong" class="control-label"></label>
                <input asp-for="OrderLong" class="form-control" />
                <span asp-validation-for="OrderLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayType" class="control-label"></label>
                <input asp-for="PayType" class="form-control" />
                <span asp-validation-for="PayType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPayed" class="control-label"></label>
                <input asp-for="AmountPayed" class="form-control" />
                <span asp-validation-for="AmountPayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statues" class="control-label"></label>
                <input asp-for="Statues" class="form-control" />
                <span asp-validation-for="Statues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderPhone" class="control-label"></label>
                <input asp-for="ProviderPhone" class="form-control" />
                <span asp-validation-for="ProviderPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CobonValue" class="control-label"></label>
                <input asp-for="CobonValue" class="form-control" />
                <span asp-validation-for="CobonValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountWithoutTax" class="control-label"></label>
                <input asp-for="AmountWithoutTax" class="form-control" />
                <span asp-validation-for="AmountWithoutTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientPhone" class="control-label"></label>
                <select asp-for="ClientPhone" class ="form-control" asp-items="ViewBag.ClientPhone"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
