﻿@model Astalem.Models.AstalemModel.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTimeNow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTimeNow)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserLat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserLat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserLong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserLong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderLat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderLat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderLong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderLong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmountPayed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountPayed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Statues)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statues)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProviderPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProviderPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CobonValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CobonValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmountWithoutTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountWithoutTax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
