﻿@model IEnumerable<Astalem.Models.AstalemModel.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeNow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CobonValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountWithoutTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client.Phone)
            </th>
            <th>اسم الحي</th>
            <th>الاسم </th>
            <th>اسم المدينة</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeNow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CobonValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountWithoutTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Phone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Client.District)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Client.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Client.City)
            </td>
            @*<td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@
        </tr>
}
    </tbody>
</table>
