﻿@model Astalem.Models.AstalemViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<br />

<div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel minimal panel-default">
            <div class="panel-heading clearfix">
                <div class="panel-title">المستخدمين</div>
                <ul class="panel-tool-options"></ul>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <div class="row col-with-divider">
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.ProviderCount</h1>
                        <small>عدد المناديب</small>
                    </div>
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.ClientCount</h1>
                        <small>عدد العملاء</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel minimal panel-default">
            <div class="panel-heading clearfix">
                <div class="panel-title">الطلبات</div>
                <ul class="panel-tool-options"></ul>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <div class="row col-with-divider">
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.TodayOrderCount</h1>
                        <small>عدد طلبات اليوم</small>
                    </div>
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.AllOrderCount</h1>
                        <small>عدد كل الطلبات</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>

</div>

<div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel minimal panel-default">
            <div class="panel-heading clearfix">
                <div class="panel-title">الدخل</div>
                <ul class="panel-tool-options"></ul>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <div class="row col-with-divider">
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.TodayAmount</h1>
                        <small>دخل اليوم</small>
                    </div>
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.AllAmount</h1>
                        <small>الدخل الكلي</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>


</div>

<div class="col-md-3"></div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">المناديب</h3>
                <ul class="panel-tool-options">
                    <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                    <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                    <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>اسم المدينة</td>
                                <td>اسم الحي</td>
                                <td>عدد المناديب</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Cities)
                            {
                                <tr>
                                    <td>@item.CityName</td>
                                    <td>@item.AreaName</td>
                                    <td>@item.CountProviderInArea</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3"></div>
