﻿@model Astalem.Models.AstalemViewModels.OrderReportViewModel

 
  

   


<div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel minimal panel-default">
            <div class="panel-heading clearfix">
                <div class="panel-title"> من تاريخ @Model.From.Date الي تاريخ @Model.To.Date </div>
                <ul class="panel-tool-options"></ul>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <div class="row col-with-divider">
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">  @Model.OrderCount</h1>
                        <small>عدد الطلبات</small>
                    </div>
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">
                            @Model.AllAmount
                        </h1>
                        <small> اجمالي مبالغ الطلبات</small>
                    </div>
                </div>
            </div>




            <div class="panel-body">
                <div class="row col-with-divider">
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.OrderCashCount</h1>
                        <small>عدد الطلبات المدفوعة عن الاستلام</small>
                    </div>
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.OrderOnLineCount</h1>
                        <small> عدد الطلبات المدفوعة الكترونيا</small>
                    </div>
                </div>
            </div>




            <div class="panel-body">
                <div class="row col-with-divider">
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.OrderInRoadCount</h1>
                        <small>عدد الطلبات بالطريق</small>
                    </div>
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.OrderInAttendCount</h1>
                        <small>عدد الطلبات التي تجهز</small>
                    </div>
                </div>
            </div>

            
            

            <div class="panel-body">
                <div class="row col-with-divider">
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.OrderFinshedCount</h1>
                        <small>عدد الطلبات المنتهية</small>
                    </div>
                    <div class="col-xs-6 text-center stack-order">
                        <h1 class="no-margins">@Model.OrderCanceledCount</h1>
                        <small>عدد الطلبات الملغية</small>
                    </div>
                </div>
            </div>










        </div>
    </div>
    <div class="col-md-4"></div>
</div>