﻿@model Astalem.Models.AstalemViewModels.ReportTimeViewModel
@{
    ViewData["Title"] = "ProviderReportIndex";
}

<form method="get">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-sm-3">
            <div id="date-popup" class="input-group date">
                من تاريخ
                <input type="text" asp-for="DateFrom" data-format="D, dd MM yyyy" class="form-control">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>





    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-sm-3">
            <div id="date-popup1" class="input-group date">
                الي تاريخ
                <input type="text" asp-for="DateTo" data-format="D, dd MM yyyy" class="form-control">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>



    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-sm-3">
            <input type="submit" asp-route-to="@Model.DateTo" asp-route-From="@Model.DateFrom" asp-action="OrderReport" asp-controller="Home" class="btn btn-primary btn-block" value="موافق" />


        </div>
        <div class="col-lg-3"></div>
    </div>

</form>