﻿@model IEnumerable<Astalem.Models.AstalemViewModels.ProviderReportViewModel>
@using Astalem.Data
@inject ApplicationDbContext _context
@{
  //  Layout =  "~/Views/Shared/_LayoutEmpty.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <td>
                اسم المندوب
            </td>
            <td>
                رقم الهاتف
            </td>

            <td>
                اسم المدينة
            </td>




            <td>
                اسم البنك
            </td>
            <td>
                رقم الحساب
            </td>

            <td>
                اسم صاحب حساب البنك
            </td>





            <td>
                اسم الحي
            </td>
            <td>
                عدد الطلبات اليوم
            </td>

            <td>
                عدد كل الطلبات
            </td>

            <td>
                اجملي دخله للشركة
            </td>

            <td>
                حساب المندوب
            </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProviderPhone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>




            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TodayOrderCount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderCount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AllAmount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProviderAmount)
            </td>
            <td><a asp-controller="ProviderAccounts" asp-action="Create" asp-route-phone="@item.ProviderPhone">تسديد لمندوب</a></td>
            <td><a asp-controller="Providers" asp-action="Index" asp-route-phone="@item.ProviderPhone"> بيانات المندوب</a></td>
            @if (_context.Providers.SingleOrDefault(m => m.Phone == item.ProviderPhone).ExpirationDate.AddDays(1) <= DateTime.Now)
            {
                <td><a asp-controller="ProviderAccounts" asp-action="ActiveProvider" asp-route-phone="@item.ProviderPhone">تفعيل مندوب </a></td>
            }
            else
            {
                <td>المقدم مفعل</td>
            }
        </tr>
        }
    </tbody>
</table>