﻿
@{
    ViewData["Title"] = "ReportIndex";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <a asp-action="ProviderReport" asp-controller="Home" class="btn btn-primary btn-block"> المناديب</a>
        <a asp-controller="Home" asp-action="OrderReportIndex" class="btn btn-primary btn-block">تقرير الطلبات</a>
        <div class="col-lg-3"></div>
    </div>
</div>