﻿@model Astalem.Models.AstalemModel.Provider

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Provider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IPanNumber" class="control-label"></label>
                <input asp-for="IPanNumber" class="form-control" />
                <span asp-validation-for="IPanNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccountName" class="control-label"></label>
                <input asp-for="BankAccountName" class="form-control" />
                <span asp-validation-for="BankAccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarClass" class="control-label"></label>
                <input asp-for="CarClass" class="form-control" />
                <span asp-validation-for="CarClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlateNumber" class="control-label"></label>
                <input asp-for="PlateNumber" class="form-control" />
                <span asp-validation-for="PlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalCardImage" class="control-label"></label>
                <input asp-for="NationalCardImage" class="form-control" />
                <span asp-validation-for="NationalCardImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrivinglicenseImage" class="control-label"></label>
                <input asp-for="DrivinglicenseImage" class="form-control" />
                <span asp-validation-for="DrivinglicenseImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormImage" class="control-label"></label>
                <input asp-for="FormImage" class="form-control" />
                <span asp-validation-for="FormImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrivinglicenseAuthoImage" class="control-label"></label>
                <input asp-for="DrivinglicenseAuthoImage" class="form-control" />
                <span asp-validation-for="DrivinglicenseAuthoImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackCarImage" class="control-label"></label>
                <input asp-for="BackCarImage" class="form-control" />
                <span asp-validation-for="BackCarImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrontCarImage" class="control-label"></label>
                <input asp-for="FrontCarImage" class="form-control" />
                <span asp-validation-for="FrontCarImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statues" class="control-label"></label>
                <input asp-for="Statues" class="form-control" />
                <span asp-validation-for="Statues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Connectivity" class="control-label"></label>
                <input asp-for="Connectivity" class="form-control" />
                <span asp-validation-for="Connectivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Log" class="control-label"></label>
                <input asp-for="Log" class="form-control" />
                <span asp-validation-for="Log" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lat" class="control-label"></label>
                <input asp-for="Lat" class="form-control" />
                <span asp-validation-for="Lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Token" class="control-label"></label>
                <input asp-for="Token" class="form-control" />
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConnectionId" class="control-label"></label>
                <input asp-for="ConnectionId" class="form-control" />
                <span asp-validation-for="ConnectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label"></label>
                <select asp-for="DistrictId" class ="form-control" asp-items="ViewBag.DistrictId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

