﻿@model Astalem.Models.AstalemModel.Provider

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Provider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IPanNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IPanNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BankAccountName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankAccountName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarClass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlateNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlateNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NationalCardImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NationalCardImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrivinglicenseImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrivinglicenseImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrivinglicenseAuthoImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrivinglicenseAuthoImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BackCarImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BackCarImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FrontCarImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrontCarImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Statues)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statues)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Connectivity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Connectivity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Log)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Log)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConnectionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConnectionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.District.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Phone">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
