﻿@model IEnumerable<Astalem.Models.AstalemModel.Provider>

@{
    ViewData["Title"] = "Index";
}


<div class="main-content">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <ul class="panel-tool-options">
                        <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                        <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                        <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

    <table class="table table-striped table-bordered " id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IPanNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankAccountName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarClass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlateNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NationalCardImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DrivinglicenseImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DrivinglicenseAuthoImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BackCarImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FrontCarImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Statues)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Connectivity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Log)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpirationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.District.DistrictName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        
                        <a href="https://astalem.com/Upload/@Html.DisplayFor(modelItem => item.Image)"><img src="~/Upload/@Html.DisplayFor(modelItem => item.Image)" width="20" height="20" /></a>
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IPanNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankAccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlateNumber)
                    </td>
                    <td>
                        

                        <a href="https://astalem.com/Upload/@Html.DisplayFor(modelItem => item.NationalCardImage)"><img src="~/Upload/@Html.DisplayFor(modelItem => item.NationalCardImage)" width="20" height="20" /></a>

                    </td>
                    <td>
                        
                        <a href="https://astalem.com/Upload/@Html.DisplayFor(modelItem => item.DrivinglicenseImage)"><img src="~/Upload/@Html.DisplayFor(modelItem => item.DrivinglicenseImage)" width="20" height="20" /></a>

                    </td>
                    <td>
                       
                        <a href="https://astalem.com/Upload/@Html.DisplayFor(modelItem => item.FormImage)"><img src="~/Upload/@Html.DisplayFor(modelItem => item.FormImage)" width="20" height="20" /></a>

                    </td>
                    <td>
                        
                        <a href="https://astalem.com/Upload/@Html.DisplayFor(modelItem => item.DrivinglicenseAuthoImage)"><img src="~/Upload/@Html.DisplayFor(modelItem => item.DrivinglicenseAuthoImage)" width="20" height="20" /></a>

                    </td>
                    <td>
                        
                        <a href="https://astalem.com/Upload/@Html.DisplayFor(modelItem => item.BackCarImage)"><img src="~/Upload/@Html.DisplayFor(modelItem => item.BackCarImage)" width="20" height="20" /></a>

                    </td>
                    <td>
                        
                        <a href="https://astalem.com/Upload/@Html.DisplayFor(modelItem => item.FrontCarImage)"><img src="~/Upload/@Html.DisplayFor(modelItem => item.FrontCarImage)" width="20" height="20" /></a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Statues)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Connectivity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Log)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpirationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.District.DistrictName)
                    </td>

                </tr>
            }
        </tbody>
    </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>