﻿@using Astalem.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _context

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
    <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
    <title>استلم</title>
    <!-- Site favicon -->
    <link rel='~/shortcut icon' type='image/x-icon' href='~/images/v.png' />
    <!-- /site favicon -->
    <!-- Entypo font stylesheet -->
    <link href="~/css/entypo.css" rel="stylesheet">
    <link href="~/fonts/cocon.ttf" rel="stylesheet">
    <!-- /entypo font stylesheet -->
    <!-- Font awesome stylesheet -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <!-- /font awesome stylesheet -->
    <!-- Bootstrap stylesheet min version -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- /bootstrap stylesheet min version -->
    <!-- Mouldifi core stylesheet -->
    <link href="~/css/mouldifi-core.css" rel="stylesheet">
    <!-- /mouldifi core stylesheet -->
    <link href="~/css/mouldifi-forms.css" rel="stylesheet">
    <!-- Bootstrap RTL stylesheet min version -->
    <link href="~/css/bootstrap-rtl.min.css" rel="stylesheet">
    <!-- /bootstrap rtl stylesheet min version -->
    <!-- Mouldifi RTL core stylesheet -->
    <link href="~/css/mouldifi-rtl-core.css" rel="stylesheet">


    @*<link href="~/css/plugins/select2/select2.css" rel="stylesheet">*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link href="~/css/site.css" rel="stylesheet" />
    @*<link href="~/css/ys.css" rel="stylesheet" />
        <link href="~/css/reportstyle.css" rel="stylesheet" />*@
    <link href="~/css/plugins/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="~/js/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet">

    <link href="~/css/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <link href="~/css/plugins/colorpicker/bootstrap-colorpicker.css" rel="stylesheet">
    <link href="~/css/plugins/nouislider/nouislider.css" rel="stylesheet">

    <style>


        @@font-face {
            font-family: droitfont;
           
            src: url('/fonts/cocon.ttf');
            font-size: 1.3em
            
        }
        .navbar-inverse .navbar-nav > li > a {
            color: #ffffff;
        }
        body {
            padding-top:0px;
            font-family: droitfont;

        }
    </style>
</head>
<body>
    <div class="main-container gray-bg">

    </div>
    <nav class="navbar navbar-inverse">
        <div class="main-header row" style="background: #f2feff">

            <div class="col-sm-6 col-xs-5">
                <div class="pull-left">
                    <!-- User alerts -->
                    <ul class="user-info pull-left">
                        <!-- Notifications -->
                        <li class="notifications dropdown">
                            <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-attention"></i><span class="badge badge-info">6</span></a>
                          
                        </li>
                        <!-- /notifications -->
                        <!-- Messages -->
                        <li class="notifications dropdown">
                            <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-mail"></i><span class="badge badge-secondary">12</span></a>
                            
                        </li>
                        <!-- /messages -->
                    </ul>
                    <!-- /user alerts -->
                </div>
            </div>

            <div class="col-sm-6 col-xs-7">
                <!-- User info -->
                <ul class="user-info pull-right">
                    <li class="profile-info dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                            <img width="44" class="img-circle avatar" alt="" src="~/Images/logo.png" /><b>أستلم</b>
                        </a>
                        <!-- User action menu -->

                        <ul class="dropdown-menu right" style="text-align:right">
                            @*<li><a asp-controller="Manage" asp-action="ChangePassword"><i class="icon-user"></i>البوفايل</a></li>*@

                            <li>
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">

                                    <button type="submit" class="btn btn-link navbar-btn navbar-link" style="color:#000000"><i class="icon-lock" style="color:#000000"></i>خروج</button>

                                </form>
                            </li>
                        </ul>

                        <!-- /user action menu -->
                    </li>
                </ul>
                <!-- /user info -->
            </div>
        </div>
        <div class="container-fluid" style="background:#78A2CC">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@*Brand*@</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Orders" asp-action="Index"><h4>الطلبات </h4></a></li>
                    <li><a asp-controller="Proposals" asp-action="Index"><h4>الاقتراحات </h4></a></li>
                    <li><a asp-controller="Home" asp-action="ReportIndex"><h4>تقارير العمل</h4></a></li>
                    <li><a asp-controller="Apps" asp-action="Index"><h4>ثوابت التطبيق</h4></a></li>
                    <li><a asp-controller="Districts" asp-action="Index"><h4>المدن والاحياء</h4></a></li>
                    <li><a asp-controller="Home" asp-action="Index"><h4>الرئيسية</h4></a></li>
                </ul> 
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="main-content">
        @RenderBody()
       
        
        <!-- Footer -->
        <footer class="footer">
            <hr />
            &copy; @DateTime.Now.Date.Year <strong>أستلم </strong>  <a target="_blank" href="#/"></a>
        </footer>
        <br />
        <!-- /footer -->
    </div>
    @*/*last scrip***/*@

    <script src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/js/plugins/datatables/jszip.min.js"></script>

    <script src="~/js/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/js/plugins/datatables/vfs_fonts.js"></script>

    <script src="~/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="~/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
    @*/*last scrip***/*@

    <!-- /page container -->
    <!--Load JQuery-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/metismenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/blockui-master/jquery-ui.js"></script>
    <script src="~/js/plugins/blockui-master/jquery.blockUI.js"></script>
    <script src="~/js/functions.js"></script>

    <script src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/s/plugins/datatables/jszip.min.js"></script>

    <script src="~/js/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/js/plugins/datatables/vfs_fonts.js"></script>

    <script src="~/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="~/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
    <script>
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons" B>lTfgitp',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [0, ':visible']
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    'colvis'
                ]
            });
        });
    </script>








    @*/***datetime///*@

    <!--nouiSlider-->
    <script src="~/js/plugins/nouislider/nouislider.min.js"></script>
    <!-- Input Mask-->
    <script src="~/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <!-- Select2-->
    <script src="~/js/plugins/select2/select2.full.min.js"></script>
    <!--Bootstrap ColorPicker-->
    <script src="~/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    <!--Bootstrap DatePicker-->
    <script src="~/js/plugins/datepicker/bootstrap-datepicker.js"></script>

    <!-- For Map-->
    <script src="https://maps.googleapis.com/maps/api/js?"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY97lHCkfUUExw26-q8qbxJpzCYgPvXUY"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?"></script>


    <!-- For Map-->

    <script>
        $(document).ready(function () {
            $('#datepicker').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                todayHighlight: true
            });

            $('#date-popup').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                todayHighlight: true,
                format: "mm-dd-yyyy"
            });



            $('#date-popup1').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                todayHighlight: true,
                format: "mm-dd-yyyy"

            });


            $('#date-popup2').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                todayHighlight: true,
                format: "mm-dd-yyyy"

            });


            $('#date-popup3').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                todayHighlight: true,
                format: "mm-dd-yyyy"

            });

            $('#date-popup4').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                todayHighlight: true,
                format: "mm-dd-yyyy"

            });

            $('#date-popup5').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                todayHighlight: true,
                format: "mm-dd-yyyy"

            });



            $('#date-popup6').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                todayHighlight: true,
                format: "mm-dd-yyyy"

            });


            $('#date-popup7').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                todayHighlight: true,
                format: "mm-dd-yyyy"

            });

            $('#year-view').datepicker({
                startView: 2,
                keyboardNavigation: false,
                forceParse: false,
                format: "mm-dd-yyyy"
            });

            var dragFixed = document.getElementById('drag-fixed');
            noUiSlider.create(dragFixed, {
                start: [40, 60],
                behaviour: 'drag-fixed',
                connect: true,
                range: {
                    'min': 20,
                    'max': 80
                }
            });

            var basicSlider = document.getElementById('basic-slider');
            noUiSlider.create(basicSlider, {
                start: 40,
                behaviour: 'tap',
                connect: 'upper',
                range: {
                    'min': 20,
                    'max': 80
                }
            });

            var rangeSlider = document.getElementById('range-slider');
            noUiSlider.create(rangeSlider, {
                start: [40, 60],
                behaviour: 'drag',
                connect: true,
                range: {
                    'min': 20,
                    'max': 80
                }
            });

            $(".select2").select2();
            $(".select2-placeholer").select2({
                allowClear: true
            });

            //$('.colorpicker').colorpicker();

            // Colorpicker
            if ($.isFunction($.fn.colorpicker)) {
                $(".colorpicker").each(function (i, el) {
                    var $this = $(el);
                    var opts = {
                        //format: attrDefault($this, 'format', false)
                    };
                    var $nextEle = $this.next();
                    var $prevEle = $this.prev();
                    var $colorPreview = $this.siblings('.input-group-addon').find('.icon-color-preview');

                    $this.colorpicker(opts);

                    if ($nextEle.is('.input-group-addon') && $nextEle.has('span')) {
                        $nextEle.on('click', function (ev) {
                            ev.preventDefault();
                            $this.colorpicker('show');
                        });
                    }

                    if ($prevEle.is('.input-group-addon') && $prevEle.has('span')) {
                        $prevEle.on('click', function (ev) {
                            ev.preventDefault();
                            $this.colorpicker('show');
                        });
                    }

                    if ($colorPreview.length) {
                        $this.on('changeColor', function (ev) {

                            $colorPreview.css('background-color', ev.color.toHex());
                        });

                        if ($this.val()) {
                            $colorPreview.css('background-color', $this.val());
                        }
                    }
                });
            }
        });
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>

