﻿@model Astalem.Models.AstalemModel.ProviderAccount

@{
    ViewData["Title"] = "Create";
}

<h3>المبلغ المتوفر للمندوب هو : @ViewData["allAmount"]</h3>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="DateTimeNow" class="control-label"></label>
                <input type="hidden" asp-for="DateTimeNow" class="form-control" value="8/8/2000"/>
                <span   asp-validation-for="DateTimeNow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="Type" class="control-label"></label>
                <input type="hidden" value="-"  asp-for="Type" class="form-control" />
                <span  asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  hidden asp-for="ProviderPhone" class="control-label"></label>
                <input  readonly asp-for="ProviderPhone" class="form-control" value="@ViewData["ProviderPhone"]"/>
            </div>
            <div class="form-group">
                <input type="submit" value="دفع" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>

</div>

