﻿@model Astalem.Models.AstalemModel.ProviderAccount

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProviderAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeNow" class="control-label"></label>
                <input asp-for="DateTimeNow" class="form-control" />
                <span asp-validation-for="DateTimeNow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderPhone" class="control-label"></label>
                <select asp-for="ProviderPhone" class="form-control" asp-items="ViewBag.ProviderPhone"></select>
                <span asp-validation-for="ProviderPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

