﻿@model Astalem.Models.AstalemModel.App

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>App</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermsAndPolicies" class="control-label"></label>
                <input asp-for="TermsAndPolicies" class="form-control" />
                <span asp-validation-for="TermsAndPolicies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KMPrice" class="control-label"></label>
                <input asp-for="KMPrice" class="form-control" />
                <span asp-validation-for="KMPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CounterPrice" class="control-label"></label>
                <input asp-for="CounterPrice" class="form-control" />
                <span asp-validation-for="CounterPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountToActiveProvider" class="control-label"></label>
                <input asp-for="AmountToActiveProvider" class="form-control" />
                <span asp-validation-for="AmountToActiveProvider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

