﻿@model Astalem.Models.AstalemModel.App

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>App</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TermsAndPolicies)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TermsAndPolicies)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KMPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KMPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CounterPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CounterPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmountToActiveProvider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountToActiveProvider)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
