﻿@model IEnumerable<Astalem.Models.AstalemModel.App>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Twitter)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Instagram)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Facebook)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Version)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Email)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Phone)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.TermsAndPolicies)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.About)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.KMPrice)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.CounterPrice)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.AmountToActiveProvider)
                </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instagram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermsAndPolicies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KMPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CounterPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountToActiveProvider)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a>
            </td>
        </tr>
}
    </tbody>
</table>
